<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firebaseApp title</title>
</head>
<body>
<H1>
Project Name is {{ projectname }}
    </H1>
<br/>
<h2>
Project Id is {{ id }}
    </h2>
<br>
<h3>
Day {{ day }}
    </h3>
<br>
</body>


    <!-- The core Firebase JS SDK is always required and must be listed first
<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!--script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCbGS8Hmq3u2xcxv0EwDjrepFJj1oAG0UA",
    authDomain: "devsearch-9ed5d.firebaseapp.com",
    projectId: "devsearch-9ed5d",
    storageBucket: "devsearch-9ed5d.appspot.com",
    messagingSenderId: "828300138401",
    appId: "1:828300138401:web:97873f521dfc31eddedde0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script> -->


</html>